/* this where the navbar is*/
header{
    padding-bottom: 20px;
}
/*this is my name */

.navbar-brand  {
    background-color: #4aaaa5;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 250px; 
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
} 
/*this is the link to the pages: about, contact, portfolio*/

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: center;
    margin-left: 20px;
    padding-left: 30px;
}
/*only holds the background image*/

body{
    background-image: url(concrete-texture.png);
}
/*container holds my about|image|Lorem|*/

.container {
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    background-color: white;
    width: 750px;
    margin-left: 50px; */
}
/*this is my About Me */
h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    font-size: 30px;
}
/* this is the break line */
hr {
    color: #777777;
}

img {
    float: none;
    padding-bottom: 7px;
}
/*my paragraphs lorems*/
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

/* Foother starts here*/

.navbar-brand2 {
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 45px;
    border-top: 8px solid #4aaaa5;
    padding-top: 8px
}

/* CONTACTS STARTS HERE*/ 
.Container2{
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    background-color: white;
    width: 750px;
    margin-left: 50px; 
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
}



input[type=text], select {
    width: 98%;
    padding: 9px 8px;
    
}

input[type=email], select {
    width: 98%;
    padding: 9px 8px;
    
}

input[type=submit], select {
    width: 20%;
    padding: 9px 8px;
    background-color: #4aaaa5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.submit {
    color: #4aaaa5;
    
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

}
input {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-weight: bold;
}
/* PORTFOLIO STARTS HERE*/
.container3{
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    background-color: white;
    width: 750px;
    margin-left: 50px; 
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
}

